/* || General setup */
html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #a9a9a9;
}

body {
  width: 70%;
  margin: 0 auto;
}

/* || Typography */
h1, h2, h3 {
  font-family: 'Sonsie One', cursive;
  color: #2a2a2a;
}

p, li, a {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #2a2a2a;
  font-size: 1.6rem;
  line-height: 1.5;
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px black;
  margin: 10px 0;
}

h2 {
  font-size: 3rem;
  margin-top: 20px;
}

h3 {
  font-size: 2.2rem;
}

/* || Header & Navigation */
header h1 {
  margin: 20px 0;
}

nav {
  background-color: #ff80ff;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  padding: 0;
  margin: 0;
}

nav li {
  font-size: 2rem;
  text-transform: uppercase;
}

/* || Main Layout */
main {
  display: flex;
  gap: 10px;
}

article {
  flex: 4;
  background-color: white;
  padding: 1rem 2rem;
}

aside {
  flex: 1;
  background-color: #ff80ff;
  padding: 1rem 2rem;
}

aside h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

aside ul {
  list-style: disc;
  padding-left: 20px;
}

aside li {
  margin-bottom: 10px;
}

/* || Footer */
footer {
  background-color: white;
  padding: 1rem;
  text-align: center;
  margin-top: 10px;
}
